/*flex layout inspired by the excellent https://css-tricks.com/snippets/css/a-guide-to-flexbox/ tutorial*/

body {
    font-family: helvetica, sans-serif;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.nav, .main{
    text-align: center;
    flex: 1 100%;
}


/*big screens. todo: DPI independency?*/
@media all and (min-width: 800px) {
    .content > * {
        padding: 10px;
    }
    .nav {
        text-align: right;
        flex: 1;
        order: 1;
    }
    .main {
        text-align: left;
        flex: 2;
        order: 2;
    }
}
/*styling*/
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}
a {
    display: block;
}
